:root {
	--neutral: #a5a9ae;
	--primary: #76ae95;
	--secondary: #76abae;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-neutral-50: oklch(from var(--neutral) 0.95 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.9 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.8 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.7 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.6 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.5 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.4 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.3 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.2 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.1 c h);
		--color-neutral-950: oklch(from var(--neutral) 0.05 c h);
		--color-primary-50: oklch(from var(--primary) 0.95 c h);
		--color-primary-100: oklch(from var(--primary) 0.9 c h);
		--color-primary-200: oklch(from var(--primary) 0.8 c h);
		--color-primary-300: oklch(from var(--primary) 0.7 c h);
		--color-primary-400: oklch(from var(--primary) 0.6 c h);
		--color-primary-500: oklch(from var(--primary) 0.5 c h);
		--color-primary-600: oklch(from var(--primary) 0.4 c h);
		--color-primary-700: oklch(from var(--primary) 0.3 c h);
		--color-primary-800: oklch(from var(--primary) 0.2 c h);
		--color-primary-900: oklch(from var(--primary) 0.1 c h);
		--color-primary-950: oklch(from var(--primary) 0.05 c h);
		--color-secondary-50: oklch(from var(--secondary) 0.95 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.9 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.8 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.7 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.6 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.5 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.4 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.3 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.2 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.1 c h);
		--color-secondary-950: oklch(from var(--secondary) 0.05 c h);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-neutral-50: oklch(from var(--neutral) 0.05 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.1 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.2 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.3 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.4 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.5 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.6 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.7 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.8 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.9 c h);
		--color-neutral-950: oklch(from var(--neutral) 0.95 c h);
		--color-primary-50: oklch(from var(--primary) 0.05 c h);
		--color-primary-100: oklch(from var(--primary) 0.1 c h);
		--color-primary-200: oklch(from var(--primary) 0.2 c h);
		--color-primary-300: oklch(from var(--primary) 0.3 c h);
		--color-primary-400: oklch(from var(--primary) 0.4 c h);
		--color-primary-500: oklch(from var(--primary) 0.5 c h);
		--color-primary-600: oklch(from var(--primary) 0.6 c h);
		--color-primary-700: oklch(from var(--primary) 0.7 c h);
		--color-primary-800: oklch(from var(--primary) 0.8 c h);
		--color-primary-900: oklch(from var(--primary) 0.9 c h);
		--color-primary-950: oklch(from var(--primary) 0.95 c h);
		--color-secondary-50: oklch(from var(--secondary) 0.05 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.1 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.2 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.3 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.4 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.5 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.6 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.7 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.8 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.9 c h);
		--color-secondary-950: oklch(from var(--secondary) 0.95 c h);
	}
}

[data-theme='dark'] {
	--color-neutral-50: oklch(from var(--neutral) 0.95 c h);
	--color-neutral-100: oklch(from var(--neutral) 0.9 c h);
	--color-neutral-200: oklch(from var(--neutral) 0.8 c h);
	--color-neutral-300: oklch(from var(--neutral) 0.7 c h);
	--color-neutral-400: oklch(from var(--neutral) 0.6 c h);
	--color-neutral-500: oklch(from var(--neutral) 0.5 c h);
	--color-neutral-600: oklch(from var(--neutral) 0.4 c h);
	--color-neutral-700: oklch(from var(--neutral) 0.3 c h);
	--color-neutral-800: oklch(from var(--neutral) 0.2 c h);
	--color-neutral-900: oklch(from var(--neutral) 0.1 c h);
	--color-neutral-950: oklch(from var(--neutral) 0.05 c h);
	--color-primary-50: oklch(from var(--primary) 0.95 c h);
	--color-primary-100: oklch(from var(--primary) 0.9 c h);
	--color-primary-200: oklch(from var(--primary) 0.8 c h);
	--color-primary-300: oklch(from var(--primary) 0.7 c h);
	--color-primary-400: oklch(from var(--primary) 0.6 c h);
	--color-primary-500: oklch(from var(--primary) 0.5 c h);
	--color-primary-600: oklch(from var(--primary) 0.4 c h);
	--color-primary-700: oklch(from var(--primary) 0.3 c h);
	--color-primary-800: oklch(from var(--primary) 0.2 c h);
	--color-primary-900: oklch(from var(--primary) 0.1 c h);
	--color-primary-950: oklch(from var(--primary) 0.05 c h);
	--color-secondary-50: oklch(from var(--secondary) 0.95 c h);
	--color-secondary-100: oklch(from var(--secondary) 0.9 c h);
	--color-secondary-200: oklch(from var(--secondary) 0.8 c h);
	--color-secondary-300: oklch(from var(--secondary) 0.7 c h);
	--color-secondary-400: oklch(from var(--secondary) 0.6 c h);
	--color-secondary-500: oklch(from var(--secondary) 0.5 c h);
	--color-secondary-600: oklch(from var(--secondary) 0.4 c h);
	--color-secondary-700: oklch(from var(--secondary) 0.3 c h);
	--color-secondary-800: oklch(from var(--secondary) 0.2 c h);
	--color-secondary-900: oklch(from var(--secondary) 0.1 c h);
	--color-secondary-950: oklch(from var(--secondary) 0.05 c h);
}

[data-theme='light'] {
	--color-neutral-50: oklch(from var(--neutral) 0.05 c h);
	--color-neutral-100: oklch(from var(--neutral) 0.1 c h);
	--color-neutral-200: oklch(from var(--neutral) 0.2 c h);
	--color-neutral-300: oklch(from var(--neutral) 0.3 c h);
	--color-neutral-400: oklch(from var(--neutral) 0.4 c h);
	--color-neutral-500: oklch(from var(--neutral) 0.5 c h);
	--color-neutral-600: oklch(from var(--neutral) 0.6 c h);
	--color-neutral-700: oklch(from var(--neutral) 0.7 c h);
	--color-neutral-800: oklch(from var(--neutral) 0.8 c h);
	--color-neutral-900: oklch(from var(--neutral) 0.9 c h);
	--color-neutral-950: oklch(from var(--neutral) 0.95 c h);
	--color-primary-50: oklch(from var(--primary) 0.05 c h);
	--color-primary-100: oklch(from var(--primary) 0.1 c h);
	--color-primary-200: oklch(from var(--primary) 0.2 c h);
	--color-primary-300: oklch(from var(--primary) 0.3 c h);
	--color-primary-400: oklch(from var(--primary) 0.4 c h);
	--color-primary-500: oklch(from var(--primary) 0.5 c h);
	--color-primary-600: oklch(from var(--primary) 0.6 c h);
	--color-primary-700: oklch(from var(--primary) 0.7 c h);
	--color-primary-800: oklch(from var(--primary) 0.8 c h);
	--color-primary-900: oklch(from var(--primary) 0.9 c h);
	--color-primary-950: oklch(from var(--primary) 0.95 c h);
	--color-secondary-50: oklch(from var(--secondary) 0.05 c h);
	--color-secondary-100: oklch(from var(--secondary) 0.1 c h);
	--color-secondary-200: oklch(from var(--secondary) 0.2 c h);
	--color-secondary-300: oklch(from var(--secondary) 0.3 c h);
	--color-secondary-400: oklch(from var(--secondary) 0.4 c h);
	--color-secondary-500: oklch(from var(--secondary) 0.5 c h);
	--color-secondary-600: oklch(from var(--secondary) 0.6 c h);
	--color-secondary-700: oklch(from var(--secondary) 0.7 c h);
	--color-secondary-800: oklch(from var(--secondary) 0.8 c h);
	--color-secondary-900: oklch(from var(--secondary) 0.9 c h);
	--color-secondary-950: oklch(from var(--secondary) 0.95 c h);
}

@media (prefers-contrast: more) and (prefers-color-scheme: dark) {
	:root {
		--color-neutral-50: oklch(from var(--neutral) 1 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.95 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.85 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.75 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.65 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.45 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.35 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.25 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.15 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.05 c h);
		--color-neutral-950: oklch(from var(--neutral) 0 c h);
		--color-primary-50: oklch(from var(--primary) 1 c h);
		--color-primary-100: oklch(from var(--primary) 0.95 c h);
		--color-primary-200: oklch(from var(--primary) 0.85 c h);
		--color-primary-300: oklch(from var(--primary) 0.75 c h);
		--color-primary-400: oklch(from var(--primary) 0.65 c h);
		--color-primary-500: oklch(from var(--primary) 0.45 c h);
		--color-primary-600: oklch(from var(--primary) 0.35 c h);
		--color-primary-700: oklch(from var(--primary) 0.25 c h);
		--color-primary-800: oklch(from var(--primary) 0.15 c h);
		--color-primary-900: oklch(from var(--primary) 0.05 c h);
		--color-primary-950: oklch(from var(--primary) 0 c h);
		--color-secondary-50: oklch(from var(--secondary) 1 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.95 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.85 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.75 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.65 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.45 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.35 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.25 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.15 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.05 c h);
		--color-secondary-950: oklch(from var(--secondary) 0 c h);
	}
}

@media (prefers-contrast: more) and (prefers-color-scheme: light) {
	:root {
		--color-neutral-50: oklch(from var(--neutral) 0 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.05 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.15 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.25 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.35 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.45 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.65 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.75 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.85 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.95 c h);
		--color-neutral-950: oklch(from var(--neutral) 1 c h);
		--color-primary-50: oklch(from var(--primary) 0 c h);
		--color-primary-100: oklch(from var(--primary) 0.05 c h);
		--color-primary-200: oklch(from var(--primary) 0.15 c h);
		--color-primary-300: oklch(from var(--primary) 0.25 c h);
		--color-primary-400: oklch(from var(--primary) 0.35 c h);
		--color-primary-500: oklch(from var(--primary) 0.45 c h);
		--color-primary-600: oklch(from var(--primary) 0.65 c h);
		--color-primary-700: oklch(from var(--primary) 0.75 c h);
		--color-primary-800: oklch(from var(--primary) 0.85 c h);
		--color-primary-900: oklch(from var(--primary) 0.95 c h);
		--color-primary-950: oklch(from var(--primary) 1 c h);
		--color-secondary-50: oklch(from var(--secondary) 0 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.05 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.15 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.25 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.35 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.45 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.65 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.75 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.85 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.95 c h);
		--color-secondary-950: oklch(from var(--secondary) 1 c h);
	}
}

@media (prefers-contrast: more) {
	[data-theme='dark'] {
		--color-neutral-50: oklch(from var(--neutral) 1 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.95 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.85 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.75 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.65 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.45 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.35 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.25 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.15 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.05 c h);
		--color-neutral-950: oklch(from var(--neutral) 0 c h);
		--color-primary-50: oklch(from var(--primary) 1 c h);
		--color-primary-100: oklch(from var(--primary) 0.95 c h);
		--color-primary-200: oklch(from var(--primary) 0.85 c h);
		--color-primary-300: oklch(from var(--primary) 0.75 c h);
		--color-primary-400: oklch(from var(--primary) 0.65 c h);
		--color-primary-500: oklch(from var(--primary) 0.45 c h);
		--color-primary-600: oklch(from var(--primary) 0.35 c h);
		--color-primary-700: oklch(from var(--primary) 0.25 c h);
		--color-primary-800: oklch(from var(--primary) 0.15 c h);
		--color-primary-900: oklch(from var(--primary) 0.05 c h);
		--color-primary-950: oklch(from var(--primary) 0 c h);
		--color-secondary-50: oklch(from var(--secondary) 1 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.95 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.85 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.75 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.65 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.45 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.35 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.25 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.15 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.05 c h);
		--color-secondary-950: oklch(from var(--secondary) 0 c h);
	}

	[data-theme='light'] {
		--color-neutral-50: oklch(from var(--neutral) 0 c h);
		--color-neutral-100: oklch(from var(--neutral) 0.05 c h);
		--color-neutral-200: oklch(from var(--neutral) 0.15 c h);
		--color-neutral-300: oklch(from var(--neutral) 0.25 c h);
		--color-neutral-400: oklch(from var(--neutral) 0.35 c h);
		--color-neutral-500: oklch(from var(--neutral) 0.45 c h);
		--color-neutral-600: oklch(from var(--neutral) 0.65 c h);
		--color-neutral-700: oklch(from var(--neutral) 0.75 c h);
		--color-neutral-800: oklch(from var(--neutral) 0.85 c h);
		--color-neutral-900: oklch(from var(--neutral) 0.95 c h);
		--color-neutral-950: oklch(from var(--neutral) 1 c h);
		--color-primary-50: oklch(from var(--primary) 0 c h);
		--color-primary-100: oklch(from var(--primary) 0.05 c h);
		--color-primary-200: oklch(from var(--primary) 0.15 c h);
		--color-primary-300: oklch(from var(--primary) 0.25 c h);
		--color-primary-400: oklch(from var(--primary) 0.35 c h);
		--color-primary-500: oklch(from var(--primary) 0.45 c h);
		--color-primary-600: oklch(from var(--primary) 0.65 c h);
		--color-primary-700: oklch(from var(--primary) 0.75 c h);
		--color-primary-800: oklch(from var(--primary) 0.85 c h);
		--color-primary-900: oklch(from var(--primary) 0.95 c h);
		--color-primary-950: oklch(from var(--primary) 1 c h);
		--color-secondary-50: oklch(from var(--secondary) 0 c h);
		--color-secondary-100: oklch(from var(--secondary) 0.05 c h);
		--color-secondary-200: oklch(from var(--secondary) 0.15 c h);
		--color-secondary-300: oklch(from var(--secondary) 0.25 c h);
		--color-secondary-400: oklch(from var(--secondary) 0.35 c h);
		--color-secondary-500: oklch(from var(--secondary) 0.45 c h);
		--color-secondary-600: oklch(from var(--secondary) 0.65 c h);
		--color-secondary-700: oklch(from var(--secondary) 0.75 c h);
		--color-secondary-800: oklch(from var(--secondary) 0.85 c h);
		--color-secondary-900: oklch(from var(--secondary) 0.95 c h);
		--color-secondary-950: oklch(from var(--secondary) 1 c h);
	}
}
